@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body{
    background-color: #F2C078 !important;
}

.bg-navbar{
    background-color: #FAEDCA;
}

.navbar{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 20px;
}
.navbar-brand{
    font-size: 40px !important;
    font-family: 'Caveat Brush', cursive;
}

.navbarGreen{
    color: #7EBC89 !important;
}

.navbarOrange{
    color: #FE5D26 !important;
}

.wrapper {
    text-align: center;
}

#getMeal{
    background-color: #FAEDCA;
    border: 2.8px solid #FE5D26;
    border-radius: 100vw;
    font-size: 24px;
    font-family: 'Caveat Brush', cursive;
    padding: 2px 22px 2px 22px;
    color: #FE5D26;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.25s;
}

#getMeal:hover{
    background-color: #FE5D26;
    border: 2.8px solid #FAEDCA;
    border-radius: 100vw;
    font-size: 24px;
    font-family: 'Caveat Brush', cursive;
    padding: 2px 22px 2px 22px;
    color: #FAEDCA;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#recipeImg{
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#recipeName{
    font-size: 30px;
    font-family: 'Caveat Brush', cursive;
    margin-bottom: 50px;
}

.mealType{
    text-align: left !important;
    font-size: 12px;
    line-height: 0.75;
}

.mealIngredients{
    text-align: left !important;
}

.instructionsMeal{
    margin-top: 25px;
}

.videoFrame{
    width: 64vw;
    height: 36vw;
    border-radius: 10px;
}

.mealContent{
    margin-top: 25px;
}

@media only screen and (max-width: 530px) {
    #recipeImg{
      width: 92vw;
    }

    #recipeName{
        margin-top: 15px;
        margin-bottom: 50px;
    }
}